---
http_interactions:
- request:
    method: get
    uri: http://postcodes.io/postcodes/SE17QD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"361-L7VrDXW3HuMgFqM+YjyYpD8TP5I"
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"result":{"postcode":"SE1 7QD","quality":1,"eastings":531513,"northings":179395,"country":"England","nhs_ha":"London","longitude":-0.106793,"latitude":51.498204,"european_electoral_region":"London","primary_care_trust":"Southwark","region":"London","lsoa":"Southwark
        034A","msoa":"Southwark 034","incode":"7QD","outcode":"SE1","parliamentary_constituency":"Bermondsey
        and Old Southwark","admin_district":"Southwark","parish":"Southwark, unparished
        area","admin_county":null,"admin_ward":"St George''s","ced":null,"ccg":"NHS
        South East London","nuts":"Lewisham and Southwark","codes":{"admin_district":"E09000028","admin_county":"E99999999","admin_ward":"E05011114","parish":"E43000218","parliamentary_constituency":"E14000553","ccg":"E38000244","ccg_id":"72Q","ced":"E99999999","nuts":"TLI44","lsoa":"E01003930","msoa":"E02006802","lau2":"E09000028"}}}'
  recorded_at: Tue, 28 Sep 2021 22:20:02 GMT
- request:
    method: get
    uri: http://postcodes.io/postcodes/SE1%20%20%207QD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-gnu:
      - Michael J Blanchard
      etag:
      - W/"361-L7VrDXW3HuMgFqM+YjyYpD8TP5I"
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"result":{"postcode":"SE1 7QD","quality":1,"eastings":531513,"northings":179395,"country":"England","nhs_ha":"London","longitude":-0.106793,"latitude":51.498204,"european_electoral_region":"London","primary_care_trust":"Southwark","region":"London","lsoa":"Southwark
        034A","msoa":"Southwark 034","incode":"7QD","outcode":"SE1","parliamentary_constituency":"Bermondsey
        and Old Southwark","admin_district":"Southwark","parish":"Southwark, unparished
        area","admin_county":null,"admin_ward":"St George''s","ced":null,"ccg":"NHS
        South East London","nuts":"Lewisham and Southwark","codes":{"admin_district":"E09000028","admin_county":"E99999999","admin_ward":"E05011114","parish":"E43000218","parliamentary_constituency":"E14000553","ccg":"E38000244","ccg_id":"72Q","ced":"E99999999","nuts":"TLI44","lsoa":"E01003930","msoa":"E02006802","lau2":"E09000028"}}}'
  recorded_at: Tue, 28 Sep 2021 22:31:24 GMT
- request:
    method: get
    uri: http://postcodes.io/postcodes/foo%20bar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      x-gnu:
      - Michael J Blanchard
      etag:
      - W/"29-T14TWaKfjMuMFPoRgcsDj2g1ORs"
    body:
      encoding: UTF-8
      string: '{"status":404,"error":"Invalid postcode"}'
  recorded_at: Tue, 28 Sep 2021 22:45:56 GMT
recorded_with: VCR 6.0.0
