<h1>Postcode Check</h1>
<% if @postcode.orchestrated_valid? %>
  <h3>Congratulations! <%= @postcode.code %> is within our service area</h3>
<% else %>
  <h3>Sorry, <%= @postcode.code %> is not within our service area</h3>
<% end %>
<%= link_to 'Check another postcode' %>
